## Unity ##
*.cs diff=csharp text eol=lf
*.cginc text eol=lf
*.shader text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.json text eol=lf
*.uxml text eol=lf
*.uss text eol=lf
*.xml text eol=lf

# Unity-specific YAML files to be merged using UnityYAMLMerge
*.unity -text merge=unityyamlmerge
*.prefab -text merge=unityyamlmerge
*.asset -text merge=unityyamlmerge
*.mat -text merge=unityyamlmerge
*.anim -text merge=unityyamlmerge
*.controller -text merge=unityyamlmerge
*.overrideController -text merge=unityyamlmerge
*.timeline -text merge=unityyamlmerge
*.physicsMaterial2D -text merge=unityyamlmerge
*.physicMaterial -text merge=unityyamlmerge
*.meta -text merge=unityyamlmerge

# Mark binary files to avoid diffing
*.dll       binary
*.exe       binary
*.pdb       binary
*.unitypackage binary
*.fbx       binary
*.png       binary
*.jpg       binary
*.jpeg      binary
*.tga       binary
*.tif       binary
*.tiff      binary
*.mp3       binary
*.ogg       binary
*.wav       binary
*.mp4       binary
*.mov       binary
*.avi       binary
*.webm      binary
*.zip       binary
*.rar       binary
*.7z        binary
*.gz        binary
*.tar       binary